<!DOCTYPE html>
<html lang="en">
	<head>
		<title>vue.js</title>
		<meta charset="utf-8">
		<meta name="description" content="Vue.js - Intuitive, Fast and Composable MVVM for building interactive interfaces.">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"	>
		<link rel="stylesheet" href="style.css">

	</head>
	<body>
		<div class="container">
			<div id="picross">
				<div>
					{{ valid | json }}
				</div>
				
				<div id="preview">
					<div class="line" v-for="(line_key, line) in grid">
						<div v-for="(cell_key, cell) in line"
							 track-by="$index"
							 :class="getCellCssClasses(cell)"
						></div>
					</div>
				</div>

				<br />

				<div id="grid">
					<div class="line" v-for="(line_key, line) in grid">
						<div v-for="(cell_key, cell) in line"
							 track-by="$index"
							 :class="getCellCssClasses(cell)"
							 @click="updateCell($event, line_key, cell_key, false)"
							 @contextmenu="updateCell($event, line_key, cell_key, true)"
						></div>
					</div>
				</div>
			</div>

		</div>

		<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
		<script src="picross.js"></script>
	</body>
</html>
