#picross {
	font-family: Arial, sans-serif;

	width: 100%;

	display: table;
    border-collapse:collapse;
}

.line {
	display:table-row;
}

.cell {
	display: table-cell;
	width: 20px;
	height: 20px;
	margin: 0px;

	border: 1px solid #3a3a3a;
	border-collapse : collapse;
    box-sizing: border-box;

	text-align: center;
}

.cell.filled {
	background-color: #3a3a3a;
}

.cell.crossed {
	background-color: #cccccc;
}

#preview {
	display: inline-block;
	border: 1px solid #3a3a3a;
}

#preview .cell {
	width: 10px;
	height: 10px;

	border: none;
}